/** @format */

//TODO:: do a an absolute path
@font-face {
	font-family: RobotoSlab;
	src: url('/../assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

$dark-blue: #221f2b;
$beige: #f2dcaa;
$white: #fff;
$light-purple: #baaaf2;
$dark-honey: #e6b950;
$red: #e6505d;

$font-primary: 'RobotoSlab';
