/** @format */

@font-face {
	font-family: RobotoSlab;
	src: url('../../assets/fonts/robotoSlab.ttf');
}

$dark-blue: #221f2b;
$beige: #f2dcaa;
$white: #fff;
$light-grey: #bfbfbf;
$dark-grey: #707070;
$light-purple: #baaaf2;
$dark-honey: #e6b950;
$red: #e6505d;

$font-primary: 'RobotoSlab';
