<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Forum.css">
    <title> Chronical Decades - Forum </title>
</head>


<body>

    <nav class="nav">

    </nav>
    <div class="header"> Welcome to our forum </div>

   
<div class="boxContainer">

    <table class="elementContainer">

        <tr>
            <td>
                <input type="text" placeholder="Search By Name" class="search">
            </td>
        </tr>

        

    </table>
    
</div>

<section>

<div >
    <div class="ContainerBox box1"> 

       <div>
           <h1 class="boxTitle">Music</h1>
           <p class="center"> Share your favourite songs of all time to our community ! </p>
           <p class="text" >
            Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit. Minus libero quibusdam 
            quam recusandae expedita accusamus ea dolor. Iste laudantium, 
            culpa laborum maiores beatae quam, non iure delectus numquam 
            debitis assumenda
           </p>
           <hr>
           
           <div class="boxFooter">
              20views 
              100comments 
              12<span class="heartIcon"><ion-icon name="heart"></ion-icon> </span>
              
           </div>
       </div>
      
    </div>

    <div class="ContainerBox box2">

        <div >
            <h1 class="boxTitle">General Discussion</h1>
            <p class="center"> Feel free to say whatever's on your mind !  </p>
            <p class="text">
             Lorem ipsum, dolor sit amet consectetur 
             adipisicing elit. Minus libero quibusdam 
             quam recusandae expedita accusamus ea dolor. Iste laudantium, 
             culpa laborum maiores beatae quam, non iure delectus numquam 
             debitis assumenda
            </p>
            <hr>
            
            <div class="boxFooter">
                20views 
                100comments 
                14<span class="heartIcon"><ion-icon name="heart"></ion-icon> </span>
             </div>
        </div>

    </div>


    <div class="ContainerBox box3">

    <div>
        <h1 class="boxTitle">Movies</h1>
        <p class="center"> Share your favourite movies to everyone ! </p>
        <p class="text">
         Lorem ipsum, dolor sit amet consectetur 
         adipisicing elit. Minus libero quibusdam 
         quam recusandae expedita accusamus ea dolor. Iste laudantium, 
         culpa laborum maiores beatae quam, non iure delectus numquam 
         debitis assumenda
        </p>
        <hr>
        
        <div class="boxFooter">
           20views 
           100comments
           14<span class="heartIcon"><ion-icon name="heart"></ion-icon> </span>
        </div>
    </div>
    </div>

    <div class="ContainerBox box4">

        <div >
            <h1 class="boxTitle">Questions</h1>
            <p class="center"> Feel free to say whatever's on your mind ! </p>
            <p class="text">
             Lorem ipsum, dolor sit amet consectetur 
             adipisicing elit. Minus libero quibusdam 
             quam recusandae expedita accusamus ea dolor. Iste laudantium, 
             culpa laborum maiores beatae quam, non iure delectus numquam 
             debitis assumenda
            </p>
            <hr>
            
            <div class="boxFooter">
               20views 
               100comments
               14<span class="heartIcon"><ion-icon name="heart"></ion-icon> </span>
            </div>
        </div>

</div>
</section>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

<footer>

</footer>

</html>