<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="MusicTopic.css">
    <title> Forum - Music </title>
</head>

<body>

    <div class="left"> 
        <h2> Music </h2>
        <h5> Share your favourite movie of all time to our community !</h5>
    </div>
    
    <div class="boxContainer">

        <table class="elementContainer">
    
            <tr>
                <td>
                    <input type="text" placeholder="Search By Name" class="search">
                    
                </td>
            </tr>
        
        </table>

        <button type="button" class="button">
            <div class="buttonText">Add a comment  </div>
        </button>

    </div>
  
    


<section>

    <div>

        <div class="box1"> 

            <h3 class="username"> Foulen ben Foulen</h3>
            <p class="lastPost"> 3 Minutes ago </p>
            <p class="comment"> 
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Minus libero quibusdam 
                quam recusandae expedita accusamus ea dolor. Iste laudantium, 
                culpa laborum maiores beatae quam, non iure delectus numquam 
                debitis assumenda</p>
                
                <div class="parentDiv"> 
        
                    <span class="like"><ion-icon name="heart"></ion-icon></span> 
                    
                12
                    <div class="childDiv1"> 
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        Like
                    </div>

                    <div class="childDiv2">  
                        <ion-icon name="chatbubble-outline"></ion-icon>
                        Comment 
                     </div>
                
                    
            </div> 
            
         </div>


         <div class="boxLarge">

            <h3 class="username"> Foulen ben Foulen</h3>
            <p class="lastPost"> 30 Minutes ago </p>
            <p class="comment"> 
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Minus libero quibusdam 
                quam recusandae expedita accusamus ea dolor. Iste laudantium, 
                culpa laborum maiores beatae quam, non iure delectus numquam 
                debitis assumenda</p>
                
                <div class="parentDiv"> 
        
                    <span class="like"><ion-icon name="heart"></ion-icon></span> 
                    
                12
                    <div class="childDiv1"> 
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        Like
                    </div>

                    <div class="childDiv2">  
                        <ion-icon name="chatbubble-outline"></ion-icon>
                        Comment 
                     </div>
                
                    
            </div> 

            <div class="vl">

                <h3 class="username"> Foulen ben Foulen</h3>
            <p class="lastPost"> 3 Minutes ago </p>
            <p class="comment"> 
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Minus libero quibusdam 
                quam recusandae expedita accusamus ea dolor. Iste laudantium, 
                culpa laborum maiores beatae quam, non iure delectus numquam 
                debitis assumenda</p>

                <div class="parentDiv"> 
                    <span class="like"><ion-icon name="heart"></ion-icon></span> 0

                    <div class="childDiv1"> 
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        Like
                    </div>

                    <div class="childDiv2">  
                        <ion-icon name="chatbubble-outline"></ion-icon>
                        Comment 
                    </div>

                </div>
                
                
            </div>


         </div>

         <div class="box1">
            
            <h3 class="username"> Foulen ben Foulen</h3>
            <p class="lastPost"> 3 Minutes ago </p>
            <p class="comment"> 
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Minus libero quibusdam 
                quam recusandae expedita accusamus ea dolor. Iste laudantium, 
                culpa laborum maiores beatae quam, non iure delectus numquam 
                debitis assumenda</p>
                
                <div class="parentDiv"> 
        
                    <span class="like"><ion-icon name="heart"></ion-icon></span> 
                    
                12
                    <div class="childDiv1"> 
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        Like
                    </div>

                    <div class="childDiv2">  
                        <ion-icon name="chatbubble-outline"></ion-icon>
                        Comment 
                     </div>
                
                    
            </div> 

               
         </div>
     
    </div>
</section>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>