/** @format */

@use '../../utils/config' as *;
@use './nav';
@use './accountNav';

header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: fit-content;
	padding: 2rem 4rem;
	background-color: $dark-blue;
	z-index: 2;
	transition: transform 0.3s ease-in-out;

	.logo-placeholder {
		width: 33.33%;
	}
}
