/** @format */

@use '../../utils/config' as *;

.side-nav {
	float: left;
	width: 12vw;
	height: 100vh;
	background-color: $dark-blue;

	nav {
		width: 50%;
		margin: 30vh auto 0 auto;

		li {
			text-align: center;
			list-style: none;
			font-family: sans-serif;
			color: $white;
			transition: color 0.3s ease-out;
			margin: 2rem auto;
			cursor: pointer;
			user-select: none;
			font-size: 1.5rem;

			&:hover {
				color: $red;
			}
		}
	}
}
