/** @format */
@font-face {
  font-family: RobotoSlab;
  src: url("../../assets/fonts/robotoSlab.ttf");
}
/** @format */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "RobotoSlab";
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a:visited {
  color: inherit;
}

a {
  color: inherit;
}

/** @format */
