/** @format */
@font-face {
  font-family: RobotoSlab;
  src: url("../../assets/fonts/robotoSlab.ttf");
}
/** @format */
nav .page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav .page-nav > li,
nav .page-nav .nav-item > li {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
nav .page-nav > li a,
nav .page-nav .nav-item > li a {
  position: relative;
  color: #e6505d;
  border-bottom: 1px solid #e6505d;
}
nav .page-nav > li a span,
nav .page-nav .nav-item > li a span {
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
  padding-bottom: 1.4rem;
  background-color: #221f2b;
}
nav .page-nav .drop-nav-wrapper {
  position: relative;
}
nav .page-nav .drop-nav-wrapper .drop-nav {
  background-color: #221f2b;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: -50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 16rem;
  opacity: 0;
  transition: top 0.6s ease-out 0.2s, opacity 0.3s ease-in-out 0.2s;
  user-select: none;
  pointer-events: none;
}
nav .page-nav .drop-nav-wrapper .drop-nav.active {
  opacity: 1;
  top: 210%;
  pointer-events: all;
  cursor: pointer;
}
nav .page-nav .drop-nav-wrapper .drop-nav li {
  font-size: 1rem;
  text-transform: capitalize;
  color: #fff;
  width: 50%;
  padding: 1.1rem 0;
  overflow: hidden;
  position: relative;
  transition: width 0.3s ease-in-out;
}
nav .page-nav .drop-nav-wrapper .drop-nav li a {
  color: #fff;
  transition: opacity 0.2s ease-in;
  position: relative;
  z-index: 2;
}
nav .page-nav .drop-nav-wrapper .drop-nav li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #221f2b;
  opacity: 0.7;
  transition: opacity 0.3s ease-in;
}
nav .page-nav .drop-nav-wrapper .drop-nav li:hover {
  width: 95%;
}
nav .page-nav .drop-nav-wrapper .drop-nav li:hover a {
  opacity: 0;
}
nav .page-nav .drop-nav-wrapper .drop-nav li:hover::before {
  opacity: 0.2;
}
nav .page-nav .drop-nav-wrapper .drop-nav li.nav-film {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-image: url("../../assets/imgs/navFilm.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav .page-nav .drop-nav-wrapper .drop-nav li.nav-music {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url("../../assets/imgs/navMusic.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/** @format */
.account-nav {
  position: relative;
}
.account-nav .logged-out button {
  padding: 1rem 0;
  line-height: 0;
  width: 7.1rem;
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  outline: 2px solid #e6505d;
  position: relative;
  z-index: 3;
}
.account-nav .logged-out button.login {
  margin-left: 2rem;
}
.account-nav .logged-out .mask {
  position: absolute;
  top: 0;
  left: calc(100% - 7.1rem);
  background-color: #e6505d;
  width: 7.1rem;
  height: 100%;
  border-radius: 2.5rem;
  outline: 2px solid #e6505d;
  z-index: 1;
  transition: left 0.3s ease-out;
}
.account-nav .logged-out .mask.right {
  animation: toRight 0.6s ease-out forwards;
}
.account-nav .logged-out .mask.left {
  animation: toLeft 0.3s ease-out forwards;
}

@keyframes toRight {
  0% {
    left: 0;
  }
  40% {
    left: calc(104% - 7.1rem);
  }
  60% {
    left: calc(96.5% - 7.1rem);
  }
  80% {
    left: calc(101.5% - 7.1rem);
  }
  95% {
    left: calc(98% - 7.1rem);
  }
  100% {
    left: calc(100% - 7.1rem);
  }
}
@keyframes toLeft {
  0% {
    left: calc(100% - 7.1rem);
  }
  100% {
    left: 0;
  }
}
/** @format */
header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 2rem 4rem;
  background-color: #221f2b;
  z-index: 2;
}

/** @format */
.landing .video-player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.landing .video-player-wrapper .video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/firstMoviepic.jpg");
}
.landing .video-player-wrapper .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(230, 185, 80, 0.53) 0%, rgba(34, 31, 43, 0) 30%, rgba(34, 31, 43, 0) 35%, rgba(34, 31, 43, 0.78) 80%, #221f2b 100%);
}

/** @format */
.landing .description {
  position: absolute;
  bottom: 0;
  left: 2rem;
  width: 60%;
  background-color: rgba(34, 31, 43, 0.3);
  backdrop-filter: blur(7px);
  color: #f2dcaa;
  padding: 2rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.landing .description-title {
  text-align: center;
  margin-bottom: 2rem;
}
.landing .description-controls {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing .description-controls .timeline {
  position: relative;
}
.landing .description-controls .timeline .layer {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing .description-controls .timeline .layer.base .line {
  background-color: #707070;
}
.landing .description-controls .timeline .layer.base .circle {
  color: #707070;
  border-color: #707070;
}
.landing .description-controls .timeline .layer.hover {
  width: 0%;
  overflow: hidden;
}
.landing .description-controls .timeline .layer.hover .line {
  background-color: #bfbfbf;
}
.landing .description-controls .timeline .layer.hover .circle {
  color: #bfbfbf;
  border-color: #bfbfbf;
}
.landing .description-controls .timeline .layer.playing {
  width: 0%;
  overflow: hidden;
}
.landing .description-controls .timeline .layer.playing .line {
  background-color: #fff;
}
.landing .description-controls .timeline .layer.playing .circle {
  color: #fff;
  border-color: #fff;
}
.landing .description-controls .timeline .layer .line {
  display: block;
  width: 2.5rem;
  height: 2px;
  margin: 0 0.3rem;
}
.landing .description-controls .timeline .layer .circle {
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.landing .description-controls .timeline .layer .circle.active::before {
  content: "";
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.landing .description-controls .timeline .layer .circle span {
  font-size: 0.9rem;
  position: absolute;
  top: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
}
.landing .description-controls .controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .description-controls .controls i {
  font-size: 1.3rem;
  cursor: pointer;
  color: rgba(191, 191, 191, 0.2);
  transition: color 0.1s ease-in-out;
}
.landing .description-controls .controls i:hover {
  color: #fff;
}
.landing .description-controls .controls-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .description-controls .controls-video > i {
  margin: 0 1.5rem;
}
.landing .description-controls .controls-video .pause-play {
  position: relative;
}
.landing .description-controls .controls-video .pause-play i {
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .description-controls .controls-video .pause-play i.fa-circle-play {
  display: none;
}
.landing .description-controls .controls-volume {
  position: relative;
  margin-left: 3rem;
}
.landing .description-controls .controls-volume i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .description-controls .controls-volume i.fa-volume-high {
  display: none;
}
.landing .description-hide {
  position: absolute;
  top: 0;
  left: 1rem;
  background-color: #fff;
  color: #e6505d;
  padding: 0.3rem 0.25rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  transition: padding-top 0.2s ease-in;
}
.landing .description-hide i {
  font-size: 1.3rem;
}
.landing .description-hide:hover {
  padding-top: 1rem;
}

/** @format */
.landing {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
}

/** @format */
