/** @format */
@font-face {
  font-family: RobotoSlab;
  src: url("../../assets/fonts/robotoSlab.ttf");
}
/** @format */
.nav-wrapper {
  width: 33.33%;
}
.nav-wrapper nav {
  margin: auto;
}

nav .page-nav {
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav .page-nav > li,
nav .page-nav .nav-item > li {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
nav .page-nav > li a,
nav .page-nav .nav-item > li a {
  position: relative;
  color: #e6505d;
  border-bottom: 1px solid #e6505d;
}
nav .page-nav > li a span,
nav .page-nav .nav-item > li a span {
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
  padding-bottom: 1.4rem;
  background-color: #221f2b;
}
nav .page-nav .drop-nav-wrapper {
  position: relative;
}
nav .page-nav .drop-nav-wrapper .drop-nav {
  background-color: #221f2b;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: -50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 16rem;
  opacity: 0;
  transition: top 0.6s ease-out 0.2s, opacity 0.3s ease-in-out 0.2s;
  user-select: none;
  pointer-events: none;
}
nav .page-nav .drop-nav-wrapper .drop-nav.active {
  opacity: 1;
  top: 210%;
  pointer-events: all;
  cursor: pointer;
}
nav .page-nav .drop-nav-wrapper .drop-nav li {
  font-size: 1rem;
  text-transform: capitalize;
  color: #fff;
  width: 50%;
  padding: 1.1rem 0;
  overflow: hidden;
  position: relative;
  transition: width 0.3s ease-in-out;
}
nav .page-nav .drop-nav-wrapper .drop-nav li a {
  color: #fff;
  transition: opacity 0.2s ease-in;
  position: relative;
  z-index: 2;
}
nav .page-nav .drop-nav-wrapper .drop-nav li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #221f2b;
  opacity: 0.7;
  transition: opacity 0.3s ease-in;
}
nav .page-nav .drop-nav-wrapper .drop-nav li:hover {
  width: 95%;
}
nav .page-nav .drop-nav-wrapper .drop-nav li:hover a {
  opacity: 0;
}
nav .page-nav .drop-nav-wrapper .drop-nav li:hover::before {
  opacity: 0.2;
}
nav .page-nav .drop-nav-wrapper .drop-nav li.nav-film {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-image: url("../../assets/imgs/navFilm.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav .page-nav .drop-nav-wrapper .drop-nav li.nav-music {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url("../../assets/imgs/navMusic.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/** @format */
.account-nav-wrapper {
  width: 33.33%;
  display: flex;
  justify-content: flex-end;
}

.account-nav {
  position: relative;
}
.account-nav .logged-out button {
  padding: 1rem 0;
  line-height: 0;
  width: 7.1rem;
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  outline: 2px solid #e6505d;
  position: relative;
  z-index: 3;
}
.account-nav .logged-out button.login {
  margin-left: 2rem;
}
.account-nav .logged-out .mask {
  position: absolute;
  top: 0;
  left: calc(100% - 7.1rem);
  background-color: #e6505d;
  width: 7.1rem;
  height: 100%;
  border-radius: 2.5rem;
  outline: 2px solid #e6505d;
  z-index: 1;
  transition: left 0.3s ease-out;
}
.account-nav .logged-out .mask.right {
  animation: toRight 0.6s ease-out forwards;
}
.account-nav .logged-out .mask.left {
  animation: toLeft 0.3s ease-out forwards;
}

@keyframes toRight {
  0% {
    left: 0;
  }
  40% {
    left: calc(104% - 7.1rem);
  }
  60% {
    left: calc(96.5% - 7.1rem);
  }
  80% {
    left: calc(101.5% - 7.1rem);
  }
  95% {
    left: calc(98% - 7.1rem);
  }
  100% {
    left: calc(100% - 7.1rem);
  }
}
@keyframes toLeft {
  0% {
    left: calc(100% - 7.1rem);
  }
  100% {
    left: 0;
  }
}
/** @format */
header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: fit-content;
  padding: 2rem 4rem;
  background-color: #221f2b;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}
header .logo-placeholder {
  width: 33.33%;
}

/** @format */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 6.3rem;
  height: 6.3rem;
  z-index: 3;
  transition: transform 0.3s ease-in-out;
}
.logo .logo-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.logo .logo-container > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo .logo-container .background {
  z-index: 0;
  width: 570%;
  height: 100%;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
}
.logo .logo-container .outer-frame {
  width: 100%;
  height: 100%;
  border: 6px solid #221f2b;
  transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
  z-index: 3;
}
.logo .logo-container .outer-mask {
  width: 100%;
  height: 25%;
  background-color: #fff;
  z-index: 4;
}
.logo .logo-container .inner-frame {
  width: 73%;
  height: 73%;
  border: 4px solid #e6505d;
  transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
  z-index: 1;
}
.logo .logo-container .inner-mask {
  width: 100%;
  height: 35%;
  background-color: #fff;
  z-index: 2;
}
.logo .logo-container img {
  width: 180%;
  height: 180%;
  z-index: 5;
}
.logo .logo-container .name {
  z-index: 5;
  font-size: 1.5rem;
  font-family: "RobotoSlab", serif;
  text-transform: uppercase;
  color: #221f2b;
  left: 120%;
  transform: translate(0, -50%);
  user-select: none;
}

/** @format */
.landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  background-color: #f2dcaa;
  display: none;
}

/** @format */
.music .search {
  width: 60%;
  margin: 5rem auto;
}
.music .search .search-by-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music .search .search-by-name .logo-img {
  display: block;
  width: 30%;
  height: 30%;
  width: 8.5rem;
  margin-right: 2.5rem;
  background-color: #fff;
}
.music .search .search-by-name .logo-img img {
  width: 100%;
  max-width: 8.5rem;
  height: auto;
}
.music .search .search-by-name .search-bar {
  position: relative;
  width: 70%;
}
.music .search .search-by-name .search-bar input {
  width: 100%;
  padding: 0.8rem 2rem 0.8rem 4rem;
  font-size: 1.3rem;
  border: none;
  outline: 4px solid #f2dcaa;
  border-radius: 2rem;
}
.music .search .search-by-name .search-bar input:focus {
  outline: 4px solid #e6b950;
}
.music .search .search-by-name .search-bar i {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: #f2dcaa;
}
.music .search .keywords h3,
.music .search .filters h3 {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  z-index: 1;
}
.music .search .keywords {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
}
.music .search .keywords .keywords-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.music .search .keywords .keywords-wrapper .keyword {
  padding: 0.3rem 1.8rem;
  color: #e6505d;
  border: 2px solid #e6505d;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 0 1rem;
  text-transform: capitalize;
  transition: color 0.15s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}
.music .search .keywords .keywords-wrapper .keyword.active, .music .search .keywords .keywords-wrapper .keyword:hover {
  background-color: #e6505d;
  color: #fff;
}
.music .search .filters {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flext-start;
}
.music .search .filters .filters-toggle {
  position: relative;
}
.music .search .filters .filters-toggle i {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  padding: 0.35rem;
  color: #e6505d;
  cursor: pointer;
}
.music .search .filters .filters-toggle .filters-wrapper {
  z-index: 1;
  position: absolute;
  width: max-content;
  padding: 1rem 2rem;
  left: 50%;
  top: 3rem;
  transform: translate(-50%, -3rem) scale(0.8);
  opacity: 0;
  background-color: #221f2b;
  color: #fff;
  border-radius: 0.8rem;
  pointer-events: none;
  transition: transform 0.3s ease-out, opacity 0.2s ease-out;
}
.music .search .filters .filters-toggle .filters-wrapper.active {
  pointer-events: all;
  transform: translate(-50%, 0) scale(1);
  opacity: 1;
}
.music .search .filters .filters-toggle .filters-wrapper .input-wrapper {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.music .search .filters .filters-toggle .filters-wrapper .input-wrapper label {
  text-transform: capitalize;
  margin-right: 2rem;
}
.music .search .filters .filters-toggle .filters-wrapper .input-wrapper label::after {
  content: " :";
}
.music .search .filters .filters-toggle .filters-wrapper .input-wrapper input,
.music .search .filters .filters-toggle .filters-wrapper .input-wrapper select {
  outline: 3px solid #e6505d;
  border-radius: 0.5rem;
  background-color: #221f2b;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  padding: 0.3rem 1rem;
  text-align: center;
}
.music .search .filters .filters-toggle .filters-wrapper .input-wrapper input:focus,
.music .search .filters .filters-toggle .filters-wrapper .input-wrapper select:focus {
  outline: 2px solid #baaaf2;
}
.music .search .add-music,
.music .search .add-musician {
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  background-color: #e6505d;
  color: #fff;
  border: none;
  outline: 2px solid #e6505d;
  cursor: pointer;
}
.music .search .add-music:hover,
.music .search .add-musician:hover {
  color: #e6505d;
  background-color: #fff;
}

/** @format */
.result {
  padding-top: 5rem;
  background-color: rgba(242, 220, 170, 0.5);
  color: #221f2b;
}
.result .records-wrapper {
  position: relative;
  width: 100%;
}
.result .records-wrapper .scroll-up {
  width: fit-content;
  position: sticky;
  top: calc(100vh - 7rem);
  right: 2rem;
  float: right;
  background-color: #e6505d;
  padding: 1rem 0.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  color: #fff;
}
.result .records-wrapper .scroll-up i {
  font-size: 2rem;
}
.result .records-container {
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.result .records-container .record {
  margin: 2rem 0.7rem;
  text-align: center;
  transition: transform 0.3s ease-out;
}
.result .records-container .record:hover {
  transform: scale(1.1);
}
.result .records-container .record:hover .play {
  opacity: 1 !important;
}
.result .records-container .record .thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  width: 20vw;
  height: 20vw;
  background-size: cover;
  cursor: pointer;
}
.result .records-container .record .thumbnail .play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 31, 43, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.result .records-container .record .thumbnail .play i {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 1rem;
  transition: color 0.2s ease-out;
}
.result .records-container .record .thumbnail .play i:hover {
  color: #e6505d;
}
.result .records-container .record h4 {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.8;
}
.result .load-more-wrapper {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  background-color: #f2dcaa;
}
.result .load-more-wrapper .load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.result .load-more-wrapper .load-more:hover > i {
  color: #e6505d !important;
}
.result .load-more-wrapper .load-more h3 {
  margin-right: 1rem;
  text-transform: uppercase;
}
.result .load-more-wrapper .load-more i {
  font-size: 2rem;
  color: #fff;
  transition: color 0.2s ease-out;
}
.result .playing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  opacity: 0;
  pointer-events: none;
}
.result .playing .save.active {
  color: #e6505d;
}
.result .playing.active {
  pointer-events: all;
  opacity: 1;
}
.result .playing .filter {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 31, 43, 0.5);
  backdrop-filter: blur(5px);
}
.result .playing .playing-record-wrapper {
  position: relative;
  z-index: 2;
  height: 100vh;
  padding: 2rem 6rem;
  background-color: #221f2b;
}
.result .playing .playing-record-wrapper iframe {
  margin: auto;
  aspect-ratio: 16/9;
  height: 50vh;
}
.result .playing .playing-record-wrapper .interactions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0.8rem;
  color: #fff;
}
.result .playing .playing-record-wrapper .interactions > div {
  cursor: pointer;
  margin-right: 1.5rem;
}
.result .playing .playing-record-wrapper .interactions > div i {
  font-size: 1.5rem;
}
.result .playing .playing-record-wrapper .interactions > div i:hover {
  color: #e6505d;
}
.result .playing .playing-record-wrapper .interactions .views {
  margin-top: 0.8rem;
  width: 100%;
}
.result .playing .playing-record-wrapper .artists-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 2rem;
  padding: 1rem;
}
.result .playing .playing-record-wrapper .artists-wrapper .artist {
  position: relative;
  width: 8rem;
  height: 10rem;
  background-image: url("../../assets/imgs/testArtist.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 1rem;
}
.result .playing .playing-record-wrapper .artists-wrapper .artist .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  background-color: rgba(230, 80, 93, 0.9);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 1rem;
  transition: opacity 0.3s ease-out;
}
.result .playing .playing-record-wrapper .artists-wrapper .artist:hover .info {
  opacity: 1;
}

/** @format */
.music-add-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}
.music-add-wrapper .filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 31, 43, 0.8);
}
.music-add-wrapper .music-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 5rem;
  background-color: #fff;
  border-radius: 20px;
  max-height: 100vh;
  overflow-y: scroll;
}
.music-add-wrapper .music-input h2 {
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #e6505d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.music-add-wrapper .music-input h2 i {
  font-size: 2.8rem;
  margin-right: 1.5rem;
}
.music-add-wrapper .music-input .input-wrapper {
  margin: auto;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.music-add-wrapper .music-input .input-wrapper label {
  font-size: 1.2rem;
  min-width: 20%;
  margin-right: 1rem;
}
.music-add-wrapper .music-input .input-wrapper input,
.music-add-wrapper .music-input .input-wrapper select {
  width: 60%;
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
}
.music-add-wrapper .music-input .input-wrapper > p {
  margin-left: 1rem;
  color: #e6505d;
  width: 20%;
}
.music-add-wrapper .music-input .input-wrapper.musicians .multiple-inputs {
  width: 60%;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.music-add-wrapper .music-input .input-wrapper.musicians .multiple-inputs > input {
  width: 100%;
  margin: 0.7rem 0;
}
.music-add-wrapper .music-input .input-wrapper.musicians .multiple-inputs .add-input {
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #e6505d;
  outline: 2px solid #e6505d;
  padding: 0.4rem 1rem;
  font-size: 1rem;
}
.music-add-wrapper .music-input .input-wrapper.musicians .multiple-inputs .add-input:hover {
  background-color: #fff;
  color: #e6505d;
}
.music-add-wrapper .music-input input[type=submit] {
  margin-top: 2rem;
  margin-left: 0.5rem;
  padding: 0.3rem 1.2rem;
  background-color: #fff;
  color: #e6505d;
  outline: 2px solid #e6505d;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.music-add-wrapper .music-input input[type=submit]:hover {
  background-color: #e6505d;
  color: #fff;
}

/** @format */
.musician-add-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}
.musician-add-wrapper .filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 31, 43, 0.8);
}
.musician-add-wrapper .musician-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 5rem;
  background-color: #fff;
  border-radius: 20px;
  width: max-content;
  max-height: 100vh;
  overflow-y: scroll;
}
.musician-add-wrapper .musician-input h2 {
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #e6505d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.musician-add-wrapper .musician-input h2 i {
  font-size: 2.8rem;
  margin-right: 1.5rem;
}
.musician-add-wrapper .musician-input form {
  margin-top: 2rem;
}
.musician-add-wrapper .musician-input .input-wrapper {
  margin: auto;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.musician-add-wrapper .musician-input .input-wrapper label {
  font-size: 1.2rem;
  min-width: 20%;
  margin-right: 1rem;
}
.musician-add-wrapper .musician-input .input-wrapper input,
.musician-add-wrapper .musician-input .input-wrapper select {
  width: 60%;
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  border: 1px solid black;
}
.musician-add-wrapper .musician-input .input-wrapper > p {
  margin-left: 1rem;
  color: #e6505d;
  width: 20%;
}
.musician-add-wrapper .musician-input input[type=submit] {
  margin-top: 1rem;
  margin-left: 0.5rem;
  padding: 0.3rem 1.2rem;
  background-color: #fff;
  color: #e6505d;
  outline: 2px solid #e6505d;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.musician-add-wrapper .musician-input input[type=submit]:hover {
  background-color: #e6505d;
  color: #fff;
}

/** @format */
.music {
  padding-top: 20vh;
}
